# Final Python & SQL Project

### Using Real-Life Dataset

In [9]:
#load sql extension for python
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
#connect to database
%sql ibm_db_sa://66323757:wDqbLg311YKItGdP@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb?security=SSL

'Connected: 66323757@bludb'

In [10]:
#confirm database is working
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='66323757'

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[('66323757', 'CENSUS_DATA', datetime.datetime(2022, 2, 28, 15, 33, 53, 752247)),
 ('66323757', 'CHICAGO_CRIME_DATA', datetime.datetime(2022, 2, 28, 15, 35, 29, 359249)),
 ('66323757', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2022, 2, 28, 15, 37, 0, 639019)),
 ('66323757', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2022, 2, 25, 13, 31, 4, 419918)),
 ('66323757', 'INSTRUCTOR', datetime.datetime(2022, 2, 25, 12, 31, 8, 986426)),
 ('66323757', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2022, 2, 25, 12, 49, 4, 572613)),
 ('66323757', 'SCHOOLS', datetime.datetime(2022, 2, 28, 14, 57, 15, 297985))]

Problem 1: Find the total number of crimes recorded in the CRIME table.

Problem 2: List community areas with per capita income less than 11000.

Problem 3: List all case numbers for crimes involving minors?

Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

Problem 5: What kind of crimes were recorded at schools?

Problem 6: List the average safety score for all types of schools.

Problem 7: List 5 community areas with highest % of households below poverty line.

Problem 8: Which community area(number) is most crime prone?

Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

## Problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [7]:
%sql select count(ID) AS TOTAL_CRIMES from CHICAGO_CRIME_DATA

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [11]:
%sql select community_area_name, per_capita_income from CENSUS_DATA\
    where per_capita_income < 11000

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes involving minors?

In [12]:
%sql select case_number from CHICAGO_CRIME_DATA\
    where description like '%MINOR%'

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [14]:
%sql select case_number, primary_type, description from CHICAGO_CRIME_DATA\
    where primary_type = 'KIDNAPPING'

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kind of crimes were recorded at schools?

In [17]:
%sql select DISTINCT(primary_type) from CHICAGO_CRIME_DATA\
    where location_description like '%SCHOOL%'

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

### Problem 6

##### List the average safety score for all types of schools.

In [19]:
%sql select "Elementary, Middle, or High School", AVG(safety_score) as AVG_SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS\
    GROUP BY "Elementary, Middle, or High School"

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line.

In [21]:
%sql select community_area_name, percent_households_below_poverty from CENSUS_DATA\
    order by percent_households_below_poverty desc limit 5

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area(number) is most crime prone?

In [22]:
%sql select CCD.community_area_number, count(CCD.community_area_number) as Frequency_of_crimes from CHICAGO_CRIME_DATA AS CCD\
    GROUP BY CCD.community_area_number\
    order by count(CCD.community_area_number) desc limit 1

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[(25, 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index.

In [23]:
%sql select community_area_name, hardship_index from CENSUS_DATA\
    where hardship_index=(select max(hardship_index) from CENSUS_DATA)

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[('Riverdale', 98)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [25]:
%sql select community_area_name from CENSUS_DATA\
    where community_area_number=\
    (select CCD.community_area_number from CHICAGO_CRIME_DATA AS CCD\
    GROUP BY CCD.community_area_number\
    order by count(CCD.community_area_number) desc limit 1)

 * ibm_db_sa://66323757:***@db9d5b7d-02c7-4dbd-a442-f721931ce3d3.bs2ipa7w0uv9tsomi9ig.databases.appdomain.cloud:31761/bludb
Done.

[('Austin',)]